@charset "ISO-8859-1";


.footer {
  background-color: #161616;
  text-align: center;
  color: white;
  padding: 20px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.title {
  color: grey;
  font-size: 18px;
}

button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

button:hover, a:hover {
  opacity: 0.7;
}

/* Float four columns side by side */
.column {
  float: left;
  width: 25%;
  padding: 30px 0px;
  
}

/* Remove extra left and right margins, due to padding in columns */
.row {margin: 0 10px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}


/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

/*========================================================================================================== */

body {
    background-color: linen;
}

h1 {
    color: maroon;
    margin-left: 40px;
}
h2{
	color: maroon;   
} 
.add-button {
    background-color: #0000FF; /* blue */
    color: black;
    width: 100%;
    padding: 8px 100px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.reset-button {
    background-color: #ffff00; /* yello */
    color: black;
    width: 100%;
    padding: 8px 100px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.list-button {
    background-color: #00FF00; /* green */
    color: black;
    width: 100%;
    padding: 8px 100px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.delete-button {
    background-color: #FF0000; /* red */
    color: black;
    width: 100%;
    padding: 8px 100px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.update-button {
    background-color: #00FF00; /* green */
    color: black;
    width: 100%;
    padding: 8px 100px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.select-button {
    background-color: #00FF00;
    color: black;
    width: 100%;
    padding: 8px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
/*==============================================================================================================================================================================================*/
.Addmarksbutton{
	margin-top: 100px;
    margin-bottom: 45px;
    padding-top: 0px;
    padding-right: 450px;
    border-left-width: 100px;
    margin-left: 250px;
	
}
.ListmarkButton{
	border-top-width: 50px;
    margin-right: 450px;
    margin-left: 250px;
    margin-top: 100px;
}
.markfooter{
	margin-top: 175px;
	
}	
.formdiv{
	margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
	
}	
